@media (max-width: 320px) {
    .sale-banners-static {
        .sale-banners-static-12x, .sale-banners-static-br {
            p {
                font-size: 12px;

                strong {
                    font-size: 12px;
                }
            }

            svg {
                width: 0.8em;
                height: 0.8em;
            }
        }
    }
}
@media (max-width: 375px) {
    .sale-banners-static {
        .sale-banners-static-12x, .sale-banners-static-br {
            p {
                font-size: 19px;

                strong {
                    font-size: 19px;
                }
            }

            svg {
                width: 1em;
                height: 1em;
            }
        }
    }
}
@media (max-width: 425px) {
    .sale-banners-static {
        .sale-banners-static-12x, .sale-banners-static-br {
            p {
                font-size: 24px;

                strong {
                    font-size: 24px;
                }
            }

            svg {
                width: 1.1em;
                height: 1.1em;
            }
        }
    }
}

@media (max-width: 767px) {
    header {
        img {
            margin-bottom: 20px;
        }
        form {
            margin: 20px 0;
        }
    }

    .menu-items {
        ul {
            width: 180px;
            li {
                width: 180px;
                text-align: start;
            }
        }
    }

    #sale-banners {
        display: none;
    }

    .produtos-container {
        img {
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    header {
        ul {
            li {
                margin: 5px 1px;

                a {
                    .messages {
                        left: 9px;
                    }
                    
                    #sacola {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .sale-banners-static {
        .sale-banners-static-12x, .sale-banners-static-br {
            p {
                font-size: 19px;

                strong {
                    font-size: 19px;
                }
            }

            svg {
                width: 0.9em;
                height: 0.9em;
            }
        }
    }
}