//Bootstrap
@import "./bootstrap.scss";
@import "./variaveis.scss";

//Fonte
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

//Components
@import "./header.scss";
@import "./menu-items.scss";
@import "./sale-banners.scss";
@import "./produtos.scss";
@import "./footer.scss";
@import "./responsive.scss";
@import "./camisetas.scss";
@import "./manga-comprida.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}